<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fproject.cryptolitycs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".watchlist.WatchListActivity"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".topCoins.TopCoinsActivity"
            android:label="@string/title_activity_top_coins" />
        <activity
            android:name=".converter.ConverterActivity"
            android:label="@string/title_activity_converter" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".details.DetailsActivity"
            android:label="@string/title_activity_details" />
        <activity
            android:name=".searchCoin.SearchCoinActivity"
            android:label="@string/title_activity_search_coin">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_coin" />
        </activity>
        <activity
            android:name=".searchCurrency.SearchCurrencyActivity"
            android:label="@string/title_activity_search_currency" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_currency" />
        </activity>
        <activity
            android:name=".details.ChartActivity"
            android:label="@string/title_activity_chart" />
        <activity
            android:name=".news.NewsActivity"
            android:label="@string/title_activity_news" />

        <activity android:name=".SettingsActivity"
            android:label="Settings"/>
    </application>

</manifest>