<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fproject.cryptolytics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".watchlist.WatchListActivity"
            android:label="@string/title_activity_watch_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".converter.ConverterActivity"
            android:label="@string/title_activity_converter"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".searchCoin.SearchCoinActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".searchCurrency.SearchCurrencyActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".details.DetailsActivity"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>